/* Configuração Geral */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }

/* EXERCÍCIO 3 - ID E HIERARQUIA */
#cabecalho-principal {
    background-color: #15581a; /* Verde escuro */
    color: white;
    padding: 30px;
    text-align: center;
}

.link-nav {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.link-nav:focus {
    outline: 0.1em solid #e20000 ;
}
.card-noticia:focus {
    outline:  solid #e20000;
}
.btn-leitura:focus {
    outline: solid #e20000;
}

.link-nav:hover {
    color: #69a16b;
    text-decoration: underline;
}

.lista-noticias {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card-noticia {
    width: 300px;
    border: 1px solid #fffbc2;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s; 
    line-height: 1.6em;
}

.card-noticia:hover {
    box-shadow: 0 8px 16px #00000033;
    cursor: pointer;
    background-color: #f9f9f9;
}

.card-noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}


.card-noticia h2 {
    color: #18641c; 
    font-size: 22px;
    margin: 10px 0;
}

.card-noticia p {
    color: #a0a0a0; 
    font-size: 14px;
}